<!DOCTYPE html>
<html lang="en" xmlns:th="https//:www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <!--    добавление общего содержимого тега head .-->
  <th:block th:replace="layout/page-layout.html :: common-head-content"/>
</head>

<body>

<!--Верхний блок Войти - Выйти-->
<div>
  <th:block  th:replace="~{layout/page-layout.html :: page-login-logout-bar}" />
</div>

<!--   Добавление фрагмента шапки-->
<th:block  th:replace="layout/page-layout.html :: page-header(page='master')" />

<div class="my-main-div container-xxl text-center" >

  <h1>Список парикмахеров</h1>
  <!--Сообщение об ошибке -->
  <p th:if="${errorMessage != null}" class="alert alert-danger">
    [[${errorMessage}]]
  </p>
  <!--Сообщение об успешном выполнении операции -->
  <p th:if="${successMessage != null}" class="alert alert-success">
    [[${successMessage}]]
  </p>

  <!--    Вывод мастеров в виде таблицы-->
  <table class="table table-secondary table-bordered">
    <!--        Шапка таблицы-->
    <thead>
    <tr>
      <th>ID</th>
      <th>Номер Телефона</th>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>E-Mail</th>
      <th>Действия</th>
    </tr>
    </thead>
    <!--        Тело таблицы-->
    <tbody>
    <tr th:each="master: ${masters}">
      <td>[[${master.id}]]</td>
      <td>
        <a th:href="@{'/master/' + ${master.id}}">[[${master.phoneNumber}]]</a>
      </td>
      <td>[[${master.name}]]</td>
      <td>[[${master.lastName}]]</td>
      <td>[[${master.email}]]</td>
      <td>
        <a sec:authorize="hasRole('USER')" th:href="@{'/master/' + ${master.id}}" class="btn btn-primary">Подробнее</a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{'/master/update/' + ${master.id}}" class="btn btn-primary">Редактировать</a>
      </td>
    </tr>

    <tr th:if="${masters == null}">
      <td colspan="6">На данный момент в базе данных нет записей о парикмахерах.</td>
    </tr>
    </tbody>
  </table>
  <div >
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/register/master}" class="btn btn-success form-control mb-3">Добавить парикмахера</a>
<!--    <a sec:authorize="hasRole('ADMIN')" th:href="@{/master/new-master}" class="btn btn-success form-control">Добавить парикмахера</a>-->
  </div>

  <!--           добавление кртинки контента после основного контента -->
  <div>
    <th:block th:replace="layout/page-layout.html :: content-image" />
  </div>
</div>

<!--Добавление фрагмента футера-->
<th:block th:replace="layout/page-layout.html :: page-footer" />

</body>
</html>