<!DOCTYPE html>
<html lang="en" xmlns:th="https//:www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <!--    добавление общего содержимого тега head .-->
  <th:block th:replace="layout/page-layout.html :: common-head-content"/>
</head>
<body>

<!--Верхний блок Войти - Выйти-->
<div>
  <th:block  th:replace="~{layout/page-layout.html :: page-login-logout-bar}" />
</div>

<!--   Добавление фрагмента шапки-->
<th:block  th:replace="layout/page-layout.html :: page-header(page='master')" />

<div class="my-main-div container-xxl" >

  <!--Вывод информации об обьекте. Об одном мастере -->
  <div class="card mb-3">
    <h5 class="card-header bg-primary-subtle"> Информация о мастере  </h5>
    <div th:if="${masterDetails != null}" class="card-body">
      <h5 class="card-title">[[${masterDetails.name}]] [[${masterDetails.lastName}]]</h5>
      <p class="card-text">Номер телефона: [[${masterDetails.phoneNumber}]]</p>
      <p class="card-text">E-mail мастера: [[${masterDetails.email}]]</p>

      <div th:if="${masterHasOrder == 0}">
        <a sec:authorize="hasRole('ADMIN')" th:href="@{'/master/delete/' + ${masterDetails.id}}" class="btn btn-danger">Удалить</a>
      </div>
      <br>
      <br>
      <a th:href="@{/master}" class="btn btn-primary">Вернуться в список мастеров</a>
    </div>

    <div th:if="${masterDetails == null}" class="card-body">
      <h5 class="card-title bg-danger text-light">Информация о мастере не найдена</h5>

      <a th:href="@{/master}" class="btn btn-primary">Вернуться в список мастеров</a>
    </div>

  </div>


  <!--           добавление кртинки контента после основного контента -->
  <div>
    <th:block th:replace="layout/page-layout.html :: content-image" />
  </div>
</div>

<!--Добавление фрагмента футера-->
<th:block th:replace="layout/page-layout.html :: page-footer" />
</body>
</html>