<!DOCTYPE html>
<html lang="en" xmlns:th="https//:www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" >
<head>
  <!--    добавление общего содержимого тега head .-->
  <th:block th:replace="layout/page-layout.html :: common-head-content"/>
</head>
<body>

<!--Верхний блок Войти - Выйти-->
<div>
  <th:block  th:replace="~{layout/page-layout.html :: page-login-logout-bar}" />
</div>

<!--   Добавление фрагмента шапки-->
<th:block  th:replace="~{layout/page-layout.html :: page-header(page='client')}" />

<div class="my-main-div container-xxl" >

  <!--Вывод информации об обьекте. Об одном клиенте -->
  <div class="card mb-3">
    <h5 class="card-header bg-primary-subtle"> Информация о клиенте  </h5>
    <div th:if="${clientDetails != null}" class="card-body">
      <h5 class="card-title">[[${clientDetails.clientName}]] [[${clientDetails.clientLastName}]]</h5>
      <p class="card-text">Номер телефона: [[${clientDetails.phoneNumber}]]</p>
      <p class="card-text">E-mail: [[${clientDetails.clientEmail}]]</p>
      <p              class="card-text">
        <div  th:if="${clientDetails.marketing}">
            Присылать новости и акции: Да
            </div>
      </p>
<!--              Выводить информацию о прошлых заказах из таблицы Orders-->
<!--      <p class="card-text">Список услуг, которые клиент заказывал ранее:</p>-->
      <div th:if="${clientOrders == 0}">
        <a  th:href="@{'/client/delete/' + ${clientDetails.id}}" class="btn btn-danger">Удалить</a>
      </div>
      <br>
      <br>
      <br>
      <a th:href="@{/client}" class="btn btn-primary">Вернуться в список клиентов</a>

    </div>

    <div th:if="${clientDetails == null}" class="card-body">
      <h5 class="card-title bg-danger text-light">Информация о клиенте не найдена</h5>

      <a th:href="@{/client}" class="btn btn-primary">Вернуться в список клиентов</a>
    </div>

  </div>


  <!--           добавление кртинки контента после основного контента -->
  <div>
    <th:block th:replace="~{layout/page-layout.html :: content-image}" />
  </div>
</div>

<!--&lt;!&ndash;           добавление кртинки контента после основного контента &ndash;&gt;-->
<!--<div class="mt-5">-->
<!--  <th:block th:replace="layout/page-layout.html :: content-image" />-->
<!--</div>-->
<!--Добавление фрагмента футера-->
<th:block th:replace="~{layout/page-layout.html :: page-footer}" />
</body>
</html>